.Heading{
    height: 70vh;
    background-image: url("https://i.pinimg.com/originals/c2/16/42/c216421d27e7d3d4e1f62d3ada87b7b3.jpg");
    background-size: cover;
    background-position: top;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 55vh, 0 100%);
}

.Heading__Text-box{
    position: absolute;
    top: 50%;
    left: 20%;
    text-align: center;
}

.Heading-primary{
    color: white;
    text-transform: uppercase;   
    font-size: 6rem; 
    font-weight: 400;
    letter-spacing: 3.5rem;
}