*,
*::after,
*::before{/*ahora todos los elementos seguro que lo tienen, si no se pone se puede joder algún sudo*/
    margin: 0;
    padding: 0;   
    box-sizing: inherit;    
}

html{
    font-size: 62.5%;/*10px ^^, calculo de hacer el 10% de los 16px de la fuente por defecto, así evitamos que el user cambie las medidas a su antojo*/
    font-family: fantasy;
}

body{
    box-sizing: border-box; 
}

:root {
    --color-grey-light-1: #faf9f9;
    --color-grey-light-2: #f4f2f2;
    --color-grey-light-3: #f0eeee;
    --color-grey-light-4: #ccc;
    
    --color-grey-dark-1: #333;
    --color-grey-dark-2: #777;
    --color-grey-dark-3: #999;

    --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
    --shadow-light: 0 2rem 5rem rgba(0,0,0,.06);

    --line: 1px solid var(--color-grey-light-2);
}